.device-information-wrapper {
  padding: 20px;
}

.wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 1074px;
}

.tools-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-title {

    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #000000;
}

.tools-wrapper .tool-item {
  margin: 0px 5px;
}

.data-table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.wrapper-bottom {
  width: 1074px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
.data-table-bottom{
  margin: 0px 15px;
}